/* секция Наші особливості */

.qualities {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.qualities__item {
  width: 270px;
}

.qualities__icon-box {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;
  width: 270px;
  height: 120px;

  background-color: var(--light-bg-color);
}

.qualities__title {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.qualities__text {
  color: var(--secondary-txt-color);
  line-height: 1.71;
  letter-spacing: 0.03em;
}
